$color1: darkgreen;
$color2: whitesmoke;
$size_box: 20vh;

@mixin colors($backColor, $fontColor, $border) {
  background-color: $backColor;
  color: $fontColor;
  border: $border;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

html {
  margin-top: 3%;
  background: linear-gradient(90deg, lighten($color1, 50%), darken($color2, 10%), lighten($color1, 50%));

  body {
    font: 4vh "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    color: lighten($color1, 10%);
    text-shadow: 0.35vh 0.35vh darken($color1, 10%);

    #root {
      width: 75%;
      margin: 0 auto;
    }
  }
}

ol, ul {
  padding-left: 10vh;

  li {
    line-height: 7vh;
  }

  button {
    @include colors(darken($color1, 10%), $color2, 0.15vh outset lighten($color1, 10%));
    @include size(33vh, 6vh);
    transition: 0.5s;
    font-size: 2vh;

    &:active {
      border: 0.15vh inset darken($color1, 10%);
    }
  }

  @for $i from 0 through 9 {
    #button#{$i}:hover {
      width: 40vh;
      transition: 0.5s;
    }
  }
}

.board-row:after {
  clear: both;
  display: table;
}

.square {
  @include colors(darken($color2, 5%), darken(gray, 25%), 0.4vh solid $color1)
  @include size($size_box, $size_box);
  box-shadow: 2vh 2vh 1vh darken($color1, 7.5%);
  float: left;
  font-size: 13vh;
  font-weight: bold;
  line-height: $size_box;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  transition: 0.2s;

  &:hover {
    background: lighten($color1, 60%);
    transition: 0.2s;
  }

  &:active {
    background-color: lighten($color1, 15%);
  }

  &:focus {
    outline: none;
  }
}

.winSquare {
  background: linear-gradient(135deg, darkolivegreen, limegreen, darkcyan);
  color: $color2;

  &:hover {
    background: linear-gradient(135deg, lighten(darkolivegreen, 25%), lighten(limegreen, 25%), lighten(darkcyan, 25%));
  }
}

.kbd-navigation .square:focus {
  background: $color2;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 10vh;

  .sortButton {
    @include colors(darken($color1, 10%), lighten($color1, 25%), 0.15vh outset darken($color1, 10%));
    @include size(33vh, 4vh);
    font-size: 2vh;
    border-top-left-radius: 1vh;
    border-bottom-right-radius: 1vh;

    &:hover {
      @include colors(lighten($color1, 25%), darken($color1, 10%), 0.15vh outset darken($color1, 10%));
    }

    &:active {
      @include colors(lighten($color1, 50%), darken($color1, 25%), 0.15vh inset darken($color1, 10%));
    }
  }
}

.activeButton {
  background-color: lighten($color1, 25%);
  color: darken($color1, 15%);
  font-weight: bold;
}
