$color1: darkgreen;
$color2: whitesmoke;
$size_box: 20vh;

html {
  margin-top: 3%;
  background: linear-gradient(90deg, lighten($color1, 50%), darken($color2, 10%), lighten($color1, 50%));

  body {
    font: 4vh "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    color: lighten($color1, 10%);
    text-shadow: 0.35vh 0.35vh darken($color1, 10%);

    #root {
      width: 75%;
      margin: 0 auto;
    }
  }
}

ol, ul {
  padding-left: 10vh;
  li {
    line-height: 7.5vh;
  }
  button {
    background-color: darken($color1, 10%);
    color: $color2;
    border: 0.15vh outset lighten($color1, 10%);
    height: 6vh;
    width: 33vh;
    transition: 0.5s;
    font-size: 2vh;
  }

  button:active {
    border: 0.15vh inset darken($color1, 10%);
  }

  @for $i from 0 through 9 {
    #button#{$i}:hover {
      width: 40vh;
      transition: 0.5s;
    }
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: darken($color2, 5%);
  border: 0.4vh solid $color1;
  box-shadow: 2vh 2vh 1vh darken($color1, 7.5%);
  float: left;
  font-size: 13vh;
  font-weight: bold;
  line-height: $size_box;
  height: $size_box;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $size_box;
  transition: 0.2s;
}

.square:hover {
  background: lighten($color1, 60%);
  transition: 0.2s;
}

.winSquare {
  background: linear-gradient(135deg, darkolivegreen, limegreen, darkcyan);
  color: $color2;
}

.winSquare:hover {
  background: linear-gradient(135deg, lighten(darkolivegreen, 25%), lighten(limegreen, 25%), lighten(darkcyan, 25%));
}

.square:active {
  background-color: lighten($color1, 15%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: $color2;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 10vh;
}

.activeButton {
  background-color: lighten($color1, 25%);
  color: darken($color1, 15%);
  font-weight: bold;
}
