$color1: darkgreen;
$color2: whitesmoke;
$size_box: 100px;

body {
  font: 28px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  font-weight: bold;
  color: lighten($color1, 10%);
  text-shadow: 2px 2px darken($color1, 10%);
}

ol, ul {
  padding-left: 50px;
  li {
    line-height: 50px;
  }
  button {
    background-color: darken($color1, 10%);
    color: $color2;
    border: 1px outset lighten($color1, 10%);
    height: 35px;
    width: 200px;
    transition: 0.5s;
  }
  @for $i from 0 through 9 {
    #button#{$i}:hover {
      width: 250px;
      transition: 0.5s;
    }
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: darken($color2, 5%);
  border: 2px solid $color1;
  box-shadow: 10px 10px 5px darken($color1, 7.5%);
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: $size_box;
  height: $size_box;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $size_box;
  transition: 0.2s;
}

.square:hover {
  background: lighten($color1, 60%);
  transition: 0.2s;
}

.winSquare {
  background: linear-gradient(135deg, darkolivegreen, limegreen, darkcyan);
  color: $color2;
}

.winSquare:hover {
  background: linear-gradient(135deg, lighten(darkolivegreen, 25%), lighten(limegreen, 25%), lighten(darkcyan, 25%));
}

.square:active {
  background-color: lighten($color1, 15%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: $color2;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 35px;
}

.activeButton {
  background-color: lighten($color1, 25%);
  color: darken($color1, 15%);
  font-weight: bold;
}
